<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Config</title>
</head>
<body>
<ul>
    {% for panel in panels %}
    <li>{{ panel.id }}</li>
    {% endfor %}
</ul>

</body>
</html>