<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Camelot School</title>
        <link rel="stylesheet" href="css/bootstrap.css" media="all">
        <link rel="stylesheet" href="css/kiosk.css">
    </head>

    <body class="bgcolor">
        <!-- The main content, containing the updates on the left and the gallery on the right -->
        <div class="container-fluid" id="main">
            <div class="row">

                <!-- Daily Class Updates -->

                <div class="col-sm-6" id="updates">
                    <!-- Summer-only All-Class Updates -->
                    <div class="panel panel-default" id="update-summer">
                        <div class="panel-heading">
                            <h4 id="title-123">Camelot School Daily Highlights</h4>
                        </div>
                        <div class="panel-body" id="content-summer"><p>Retrieving latest update....</p></div>
                    </div>

                    <!-- Updates for the 1-2-3 Class -->
                    <div class="panel panel-default" id="update-123">
                        <div class="panel-heading">
                            <h4 id="title-123">Updates for the 1-2-3 Class</h4>
                        </div>
                        <div class="panel-body" id="content-123"><p>Retrieving latest update....</p></div>
                    </div>

                    <!-- Updates for the A-B-C Class -->
                    <div class="panel panel-default" id="update-abc">
                        <div class="panel-heading">
                            <h4 id="title-abc">Updates for the A-B-C Class</h4>
                        </div>
                        <div class="panel-body" id="content-abc"><p>Retrieving latest update....</p></div>
                    </div>

                    <!-- Updates for the Pre-K Class -->
                    <div class="panel panel-default" id="update-prek">
                        <div class="panel-heading">
                            <h4 id="title-prek">Updates for the Pre-K Class</h4>
                        </div>
                        <div class="panel-body" id="content-prek"><p>Retrieving latest update....</p></div>
                    </div>

                    <!-- Updates for the Kindergarten Class -->
                    <div class="panel panel-default" id="update-kindergarten">
                        <div class="panel-heading">
                            <h4 id="title-kindergarten">Updates for the Kindergarten Class</h4>
                        </div>
                        <div class="panel-body" id="content-kindergarten"><p>Retrieving latest update....</p></div>
                    </div>
                </div>


                <!-- The Gallery -->
                <div class="col-sm-6" id="gallery">
                    <div class="container-fluid">
                        <div class="row" id="upper">
                            <div class="col-sm-6">
                                <div class="panel panel-default img-frame">
                                    <a href='#manageImageModal' data-toggle='modal'><img src="" id="img0" /></a>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="panel panel-default img-frame">
                                    <a href="#manageImageModal" data-toggle='modal'><img src="" id="img1" /></a>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="lower">
                            <div class="col-sm-6">
                                <div class="panel panel-default img-frame">
                                    <a href="#manageImageModal" data-toggle='modal'><img src="" id="img2" /></a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="panel panel-default img-frame">
                                    <a href="#manageImageModal" data-toggle='modal'><img src="" id="img3" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="well well-sm" id="thumbnail-bar">
                            <a href="#" class="scroll-control scroll-left"><span class="glyphicon glyphicon-arrow-left"></span></a>
                            <div id="thumbnails"></div>
                            <a href="#" class="scroll-control scroll-right"><span class="glyphicon glyphicon-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="manageImageModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="img-frame">
                            <img src="" id="modalImg" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="delete" name="delete" class="btn btn-warning" type="button"><img src="img/delete.ico" alt="Delete" /></button>
                        <button id='clockwise' class="btn btn-normal" type="button"><img src="img/clockwise-arrow.ico" alt="Clockwise" /></button>
                        <button id='counterclockwise' class="btn btn-normal" type="button"><img src="img/counterclockwise-arrow.ico" alt="Counter-clockwise" /></button>
                        <button class="btn btn-default" data-dismiss="modal" type="button"><img src="img/cancel.ico" alt="Close" /></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="well well-sm" id="footer">div#footer</div>

        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/bootstrap.js"></script>

        <!-- For dev only! -->
        <script src="js/lorem.js"></script>

        {% if summer  %}
        <script type="text/javascript">var summer = true;</script>;
        {% endif %}
        <script type="text/javascript" src="js/kiosk.js"></script>
    </body>
</html>
